# 09.07 분할표
| 과제가 3개라고 한다

### 막대그림
+ 질적 자료, 범주형 자료를 막대의 형태로 표시한 그림
+ 상대도수, 도수를 막대길이로 만들어 서로 쉽게 비교 가능

### 히스토그램
+ 양적 변수의 경우에 사용한다

### 줄기 잎 그림
+ 자료가 많을 때, 효과적이지 않다. (히스토그램)

### 상자그림
+ 1사분위수. 2사분위수 등등 나눠서... 등등
+ https://ko.wikipedia.org/wiki/%EC%83%81%EC%9E%90_%EC%88%98%EC%97%BC_%EA%B7%B8%EB%A6%BC#/media/%ED%8C%8C%EC%9D%BC:Michelsonmorley-boxplot.svg (내가 찾은거)

In [27]:
#실습 분할표#
data3=read.csv('tab1.csv',header=T);
#table(data3[[1]])
#table(data3$결혼상태)

table(data3$자녀수, data3$결혼상태)
with(data3,table(자녀수, 결혼상태)); ##테이블에 제목이 생김
#?with 이게 help기능임
with(data3,addmargins(table(자녀수,결혼상태))) #마진: 변수에 대한 구분을 없에고 우리가 알고자 하는 것만. 합계을 구해줌

    결혼 미혼 별거 사별 이혼
  0    1    3    0    1    0
  1    5    0    0    0    0
  2    1    0    0    1    0
  3    3    0    3    0    2
  4    3    0    0    0    0
  5    1    0    0    0    0
  6    1    0    0    0    0

      결혼상태
자녀수 결혼 미혼 별거 사별 이혼
     0    1    3    0    1    0
     1    5    0    0    0    0
     2    1    0    0    1    0
     3    3    0    3    0    2
     4    3    0    0    0    0
     5    1    0    0    0    0
     6    1    0    0    0    0

      결혼상태
자녀수 결혼 미혼 별거 사별 이혼 Sum
   0    1   3    0    1    0     5
   1    5   0    0    0    0     5
   2    1   0    0    1    0     2
   3    3   0    3    0    2     8
   4    3   0    0    0    0     3
   5    1   0    0    0    0     1
   6    1   0    0    0    0     1
   Sum 15   3    3    2    2    25

In [35]:
##상대도수로 구하기.
prop.table(table(data3$자녀수))
prop.table(table(data3$결혼상태))
상대도수표=prop.table(table(data3$자녀수,data3$결혼상태));
xx;
with(data3,addmargins(상대도수표))

   0    1    2    3    4    5    6
0.20 0.20 0.08 0.32 0.12 0.04 0.04

결혼 미혼 별거 사별 이혼
0.60 0.12 0.12 0.08 0.08

    결혼 미혼 별거 사별 이혼
  0 0.04 0.12 0.00 0.04 0.00
  1 0.20 0.00 0.00 0.00 0.00
  2 0.04 0.00 0.00 0.04 0.00
  3 0.12 0.00 0.12 0.00 0.08
  4 0.12 0.00 0.00 0.00 0.00
  5 0.04 0.00 0.00 0.00 0.00
  6 0.04 0.00 0.00 0.00 0.00

      결혼 미혼 별거 사별 이혼 Sum
  0   0.04 0.12 0.00 0.04 0.00 0.20
  1   0.20 0.00 0.00 0.00 0.00 0.20
  2   0.04 0.00 0.00 0.04 0.00 0.08
  3   0.12 0.00 0.12 0.00 0.08 0.32
  4   0.12 0.00 0.00 0.00 0.00 0.12
  5   0.04 0.00 0.00 0.00 0.00 0.04
  6   0.04 0.00 0.00 0.00 0.00 0.04
  Sum 0.60 0.12 0.12 0.08 0.08 1.00

### #과제 2 (분할표 작성)#
#### 데이터명은 adm.csv

1. 입학전형에 관한 표
2. 활동참여에 대한 표
3. (입학전형, 활동참여)분할표

In [34]:
read.csv('adm.csv',header=T);

    성별 입학전형   참여활동 GPA
1   여   학생부종합 자율활동 2.5
2   남   학생부종합 교과활동 4.2
3   여   학생부종합 자율활동 3.0
4   여   학생부교과 교과활동 4.1
5   여   학생부교과 교과활동 3.3
6   여   학생부종합 진로활동 3.5
7   남   학생부종합 진로활동 3.3
8   남   학생부종합 동아리   3.4
9   여   학생부교과 자율활동 2.6
10  여   학생부교과 자율활동 3.2
11  여   학생부교과 교과활동 3.2
12  여   학생부교과 교과활동 3.9
13  남   학생부종합 자율활동 3.6
14  남   학생부종합 교과활동 3.2
15  여   학생부종합 자율활동 3.5
16  남   학생부종합 자율활동 4.0
17  여   학생부종합 교과활동 3.5
18  여   학생부교과 봉사활동 4.2
19  여   학생부교과 동아리   3.5
20  남   학생부교과 동아리   3.5
21  여   학생부교과 교과활동 3.8
22  여   학생부교과 교과활동 3.7
23  여   학생부종합 동아리   3.5
24  여   학생부교과 교과활동 3.2
25  여   학생부교과 교과활동 3.0
26  남   학생부종합 자율활동 3.1
27  여   학생부교과 동아리   3.9
28  남   학생부종합 진로활동 3.3
29  여   학생부종합 동아리   3.6
30  여   학생부종합 진로활동 3.4
... ...  ...        ...      ...
181 여   정시일반   교과활동 3.3
182 여   정시일반   교과활동 3.5
183 남   정시일반   자율활동 3.1
184 여   정시일반   자율활동 4.3
185 여   정시일반   교과활동 4.2
186 여   정시일반   동아리   4.0
187 여   정시일반   동아리   3.8
188 남   정시일반   자율활동 4.2
189 남   정시일반   동아리   4.1
190 여   정시일반   동아리   4.4
191 여   정시일반   교과활동 2.8
192 여   정시일반   교과활동 4.0
193 남   정시일반   교과활동 3.4
194 여   정시일반   자율활동 3.2
195 여   정시일반   자율활동 3.6
196 여   정시일반   교과활동 3.7
197 남   정시일반   봉사활동 2.6
198 여   정시일반   자율활동 3.7
199 남   정시일반   자율활동 2.7
200 남   정시일반   동아리   3.1
201 여   정시일반   자율활동 4.2
202 여   정시일반   동아리   3.9
203 남   정시일반   동아리   3.5
204 여   정시일반   교과활동 4.0
205 여   정시일반   진로활동 1.5
206 여   정시일반   교과활동 3.4
207 여   정시일반   교과활동 3.0
208 남   정시일반   자율활동 2.7
209 남   정시일반   자율활동 1.5
210 여   정시일반   자율활동 3.4