In [3]:
data1 = read.csv('adm.csv',header=T);
data1

    성별 입학전형   참여활동 GPA
1   여   학생부종합 자율활동 2.5
2   남   학생부종합 교과활동 4.2
3   여   학생부종합 자율활동 3.0
4   여   학생부교과 교과활동 4.1
5   여   학생부교과 교과활동 3.3
6   여   학생부종합 진로활동 3.5
7   남   학생부종합 진로활동 3.3
8   남   학생부종합 동아리   3.4
9   여   학생부교과 자율활동 2.6
10  여   학생부교과 자율활동 3.2
11  여   학생부교과 교과활동 3.2
12  여   학생부교과 교과활동 3.9
13  남   학생부종합 자율활동 3.6
14  남   학생부종합 교과활동 3.2
15  여   학생부종합 자율활동 3.5
16  남   학생부종합 자율활동 4.0
17  여   학생부종합 교과활동 3.5
18  여   학생부교과 봉사활동 4.2
19  여   학생부교과 동아리   3.5
20  남   학생부교과 동아리   3.5
21  여   학생부교과 교과활동 3.8
22  여   학생부교과 교과활동 3.7
23  여   학생부종합 동아리   3.5
24  여   학생부교과 교과활동 3.2
25  여   학생부교과 교과활동 3.0
26  남   학생부종합 자율활동 3.1
27  여   학생부교과 동아리   3.9
28  남   학생부종합 진로활동 3.3
29  여   학생부종합 동아리   3.6
30  여   학생부종합 진로활동 3.4
... ...  ...        ...      ...
181 여   정시일반   교과활동 3.3
182 여   정시일반   교과활동 3.5
183 남   정시일반   자율활동 3.1
184 여   정시일반   자율활동 4.3
185 여   정시일반   교과활동 4.2
186 여   정시일반   동아리   4.0
187 여   정시일반   동아리   3.8
188 남   정시일반   자율활동 4.2
189 남   정시일반   동아리   4.1
190 여   정시일반   동아리   4.4
191 여   정시일반   교과활동 2.8
192 여   정시일반   교과활동 4.0
193 남   정시일반   교과활동 3.4
194 여   정시일반   자율활동 3.2
195 여   정시일반   자율활동 3.6
196 여   정시일반   교과활동 3.7
197 남   정시일반   봉사활동 2.6
198 여   정시일반   자율활동 3.7
199 남   정시일반   자율활동 2.7
200 남   정시일반   동아리   3.1
201 여   정시일반   자율활동 4.2
202 여   정시일반   동아리   3.9
203 남   정시일반   동아리   3.5
204 여   정시일반   교과활동 4.0
205 여   정시일반   진로활동 1.5
206 여   정시일반   교과활동 3.4
207 여   정시일반   교과활동 3.0
208 남   정시일반   자율활동 2.7
209 남   정시일반   자율활동 1.5
210 여   정시일반   자율활동 3.4

In [10]:
분할표=table(data1$입학전형, data1$참여활동);
with(data1,addmargins(table(GPA,입학전형)))
with(data1,addmargins(table(GPA,참여활동)))
with(data1,addmargins(table(입학전형,참여활동)))

            참여활동
입학전형     교과활동 동아리 봉사활동 자율활동 진로활동 Sum
  논술우수   22        6     1         8        6        43
  정시일반   35       16     1        28        7        87
  학생부교과 26        5     4        13        3        51
  학생부종합  3        4     3        13        6        29
  Sum        86       31     9        62       22       210

     입학전형
GPA   논술우수 정시일반 학생부교과 학생부종합 Sum
  0.8  1        0        0          0           1
  1.3  0        0        1          0           1
  1.5  1        2        0          0           3
  1.6  1        1        0          0           2
  1.9  0        0        1          0           1
  2.3  1        1        0          0           2
  2.4  0        2        0          0           2
  2.5  1        0        0          3           4
  2.6  0        4        2          1           7
  2.7  1        5        0          0           6
  2.8  1        4        1          0           6
  2.9  2        1        1          0           4
  3    0        1        3          3           7
  3.1  3        5        2          2          12
  3.2  1        6        6          2          15
  3.3  4        4        4          2          14
  3.4  4        6        0          3          13
  3.5  5        9        4          4          22
  3.6  1        3        3          2           9
  3.7  4        7        4          0          15
  3.8  2        3        3          1           9
  3.9  6        4        4          1          15
  4    1        6        1          1           9
  4.1  0        6        3          1          10
  4.2  2        5        4          2          13
  4.3  1        1        3          0           5
  4.4  0        1        1          0           2
  4.5  0        0        0          1           1
  Sum 43       87       51         29         210

     참여활동
GPA   교과활동 동아리 봉사활동 자율활동 진로활동 Sum
  0.8  0        0     0         1        0         1
  1.3  1        0     0         0        0         1
  1.5  0        1     0         1        1         3
  1.6  2        0     0         0        0         2
  1.9  0        0     0         1        0         1
  2.3  1        0     0         1        0         2
  2.4  0        1     0         1        0         2
  2.5  0        0     1         3        0         4
  2.6  0        0     2         5        0         7
  2.7  1        1     0         4        0         6
  2.8  4        0     0         0        2         6
  2.9  2        1     0         0        1         4
  3    3        0     0         3        1         7
  3.1  2        4     0         6        0        12
  3.2 11        1     0         3        0        15
  3.3  8        1     0         3        2        14
  3.4  7        1     0         2        3        13
  3.5 10        4     1         3        4        22
  3.6  4        1     1         3        0         9
  3.7  7        4     0         4        0        15
  3.8  3        2     1         1        2         9
  3.9  5        3     1         3        3        15
  4    5        1     0         2        1         9
  4.1  3        2     1         3        1        10
  4.2  6        1     1         4        1        13
  4.3  1        0     0         4        0         5
  4.4  0        2     0         0        0         2
  4.5  0        0     0         1        0         1
  Sum 86       31     9        62       22       210